<p id="notice"><%= notice %></p>

<h1>Entity profile</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entity_profiles.each do |entity_profile| %>
      <tr>
        <td><%= entity_profile.id %></td>
        <td><%= link_to 'Show', entity_profile %></td>
        <td><%= link_to 'Edit', edit_entity_profile_path(entity_profile) %></td>

        <td><%= link_to 'Destroy',entity_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New entity profile', new_entity_profile_path %>