<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entity_profile.name %>
  <strong>Surname:</strong>
  <%= @entity_profile.surname %>
  <strong>Age:</strong>
  <%= @entity_profile.age %>
  <strong>Note:</strong>
  <%= @entity_profile.note %>
  <strong>Phone number:</strong>
  <%= @entity_profile.contact_information.phone_number%>
  <strong>Email address:</strong>
  <%= @entity_profile.contact_information.email_address%>
  <strong>Address:</strong>
  <%= @entity_profile.contact_information.address%>
  <strong>Messenger link:</strong>
  <%= @entity_profile.contact_information.messenger_link%>
  <strong>Title of comany:</strong>
  <%= @entity_profile.title_company %>
  <strong>Minimal price:</strong>
  <%= @entity_profile.min_price %>
  <strong>Minimal time:</strong>
  <%= @entity_profile.min_time %>
  <strong>Price of one hour:</strong>
  <%= @entity_profile.price_one_hour %>
  <strong>Price of two hours:</strong>
  <%= @entity_profile.price_two_hours %>
  <strong>Time of start work:</strong>
  <%= @entity_profile.start_work %>
  <strong>Time of end work:</strong>
  <%= @entity_profile.end_work %>
  <strong>Type of service:</strong>
  <%= @entity_profile.type_of_service %>
</p>

<%= link_to 'Edit', edit_entity_profile_path(@entity_profile) %> |
<%= link_to 'Back', entity_profile_path %>
