
<p id="notice"><%= notice %></p>
<p>
  <strong>Photo:</strong>
  <div class="circular_image">
  <% if @profile.avatar.attached? %>
   <%= image_tag @profile.avatar.variant(resize: '100x100!').processed%>
  <% else %>
    <%= image_tag("default.png", width: "100") %>
  <% end %>
  </div>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @profile.surname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Note:</strong>
  <%= @profile.note %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @profile.email_address %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Main page', main_url, method: :get %> |
<%= link_to 'Routes', routes_path %> 
