<%= stylesheet_link_tag "users" %>
<h2>Fill in your personal profile</h2>
<form>
  <p>Please select entity or human:</p>
  <div>
    <input type="radio" id="contactChoice1"
     name="contact" value="entity">
    <label for="contactChoice1">Entity</label><Br>
    <input type="radio" id="contactChoice2"
     name="contact" value="human" checked>
    <label for="contactChoice2">Human</label>
  </div>
  <p class="mt-3">Please fill the form:</p>
</form>
<div id="human" class="human_form">
  <%= form_for :human_profile do |f| %>
    Input your name:
    <%= f.text_field :name,size: 45%><br />
    Input your surname:
    <%= f.text_field :surname,style: "width: 51.5%"%><br />
    Birthday: 
    <%= f.date_field :age %><br />
    Note: 
    <%= f.text_field :note,style: "width: 64.2%;height: 100px"%><br />
    Input your phone number(Format: 029-456-7890):
    <%= f.telephone_field :contact_information_phone,pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}"%><br />
    Input your e-mail address:
    <%= f.text_field :contact_information_email_address,style: "width: 46%"%><br />
    Input your address:
    <%= f.text_field :contact_information_address,style: "width: 52%"%><br />
    Input your messenger link:
    <%= f.text_field :contact_information_messenger_link,style: "width: 46%"%><br />
    <%= f.button "Submit", type: "submit", :class=> "btn btn-primary",style: "background-color: #91D6F1;margin-left: 330px;"%>
  <% end %>
</div>
<div class="entity-form-wrapper">
  <div id="entity" class="entity_form">
    <%= form_for :entity_profile do |f| %>
      Input your name:
      <%= f.text_field :name,size: 45%><br />
      Input your surname:
      <%= f.text_field :surname,style: "width: 51.5%"%><br />
      Birthday: 
      <%= f.date_field :age %><br />
      Note: 
      <%= f.text_field :note,style: "width: 64.1%;height: 100px"%><br />
      Input your phone number(Format: 029-456-7890):
      <%= f.telephone_field :contact_information_phone,pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}"%><br />
      Input your e-mail address:
      <%= f.text_field :contact_information_email_address,style: "width: 46%"%><br />
      Input your address:
      <%= f.text_field :contact_information_address,style: "width: 52%"%><br />
      Input your messenger link:
      <%= f.text_field :contact_information_messenger_link,style: "width: 46%"%><br />
      Input title of your company:
      <%= f.text_field :title_company,style: "width: 45%"%><br />
      Input minimal price($):  
      <%= f.text_field :min_price,style: "width: 49%"%><br />
      Input minimal time(minute):
      <%= f.text_field :min_time,size: 37%><br />
      Input price of one hour($):
      <%= f.text_field :price_one_hour,style: "width: 45.5%"%><br />
      Input price of two hours($):
      <%= f.text_field :price_two_hours,size: 37.5%><br />
      Input time start of work:
      <%= f.time_field :time_work%><br />
      Input time end of work:
      <%= f.time_field :time_work%><br />
      <%= f.button "Submit", type: "submit", :class=> "btn btn-primary",style: "background-color: #91D6F1;margin-left: 330px;"%>
    <% end %>
  </div>
</div>
<script>
  $('input[type=radio]').change(function(){
       if(this.value == "human")
       {
         $("#human").show();
         $("#entity").hide();
       }
       else{

         $("#entity").show();
          $("#human").hide();
          $(".entity-form-wrapper").removeAttr("class")

       }
  });
</script>
