<script type="text/javascript">
  function showOrganizations(){
    let infoOrganizations = [
        <% @organizations.each do |organization| %>
            "<%='title:'+organization.title.to_s+', minimal price:'+organization.min_price.to_s+', address:'+organization.place.name.to_s%>",
      <% end %>
    ];
    let organizations = [
      <% @organizations.each do |organization| %>
        {lat:<%= organization.place.latitude %>, lng:<%= organization.place.longitude %> },
      <% end %>
    ];

    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(59.923468, 30.386436),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    let infowindow = new google.maps.InfoWindow();

    let marker, i;

    for (i = 0; i < organizations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(organizations[i]),
        map: map,
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
          infowindow.setContent(infoOrganizations[i]);
          infowindow.open(map, marker);
        }
      })(marker, i));


    }
  }
  document.addEventListener("DOMContentLoaded", showOrganizations);  
</script>
<meta name='turbolinks-visit-control' content='reload' >
<center>
  <div class="col-sm">
    <div id="map"></div>
  </div>
</center>
<br />
<%= button_to 'All organizations', organizations_path, method: :get, class: "btn btn-primary", style: "background-color: #91D6F1; height:50px; width:200px"%><br />
<%= button_to 'All routes', routes_path, method: :get, class: "btn btn-primary", style: "background-color: #91D6F1; height:50px; width:200px"%><br />
<%= button_to 'All users', profiles_path, method: :get, class: "btn btn-primary", style: "background-color: #91D6F1; height:50px; width:200px"%>
