<%= form_with(model: route) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tour_agency_id %>
    <%= form.text_field :tour_agency_id %>
  </div>
  <div class="field">
    <%= form.hidden_field :visitor_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :start_end %>
    <%= form.date_select :start_end %>
  </div>

  <div class="field">
    <%= form.label :hotel_id %>
    <%= form.text_field :hotel_id %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.text_field :place_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
