<h1>Routes</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Tour agency</th>
      <th>Visitor</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Hotel</th>
      <th>Status</th>
      <th>Cost</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.tour_agency.title %></td>
        <td><%= route.visitor.profile.name %></td>
        <td><%= route.start_date %></td>
        <td><%= route.end_date %></td>
        <td><%= route.hotel.title %></td>
        <td><%= route.status %></td>
        <td><%= route.cost %></td>
        <td><%= route.places.map{|i| i.organization.title }%></td>
        
        <% if current_user.is_admin || route.tour_agency.user_id == current_user.id%>
          <td><%= link_to 'Edit', edit_route_path(route) %></td>
          <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Show', route %></td>
        <% else%>
          <td><%= link_to 'Show', route %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.is_admin %>
<%= link_to 'Back', admin_view_url, method: :get%> <br />
<% else %>
<%= link_to 'Main page', main_url, method: :get %> <br />
<% end %>
