<p id="notice"><%= notice %></p>

<p>
  <strong>Tour agency:</strong>
  <%= @route.tour_agency_id %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @route.visitor_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @route.start_date %>
</p>

<p>
  <strong>Start end:</strong>
  <%= @route.start_end %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @route.hotel_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @route.cost %>
</p>

<p>
  <strong>Place:</strong>
  <%= @route.place_id %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
