<% provide :head_tags do %>
  <script>
    function initMap2() {
        var lat = document.getElementById('organization_place_attributes_latitude').value;
        var lng = document.getElementById('organization_place_attributes_longitude').value;

        // if not defined create default position
        if (!lat || !lng){
            lat=59.923468;
            lng=30.386436;
            document.getElementById('organization_place_attributes_latitude').value = lat;
            document.getElementById('organization_place_attributes_longitude').value = lng;
        }

        var myCoords = new google.maps.LatLng(lat, lng);
        var mapOptions = {
            center: myCoords,
            zoom: 14
        };

        var map = new google.maps.Map(document.getElementById('map2'), mapOptions);

        var marker = new google.maps.Marker({
            position: myCoords,
            animation: google.maps.Animation.DROP,
            map: map,
            draggable: true
        });

        // refresh marker position and recenter map on marker
        function refreshMarker(){
            var lat = document.getElementById('organization_place_attributes_latitude').value;
            var lng = document.getElementById('organization_place_attributes_longitude').value;
            var myCoords = new google.maps.LatLng(lat, lng);
            marker.setPosition(myCoords);
            map.setCenter(marker.getPosition());
        }
        // when input values change call refreshMarker
        document.getElementById('organization_place_attributes_latitude').onchange = refreshMarker;
        document.getElementById('organization_place_attributes_longitude').onchange = refreshMarker;

        // when marker is dragged update input values
        marker.addListener('drag', function() {
            latlng = marker.getPosition();
            newlat=(Math.round(latlng.lat()*1000000))/1000000;
            newlng=(Math.round(latlng.lng()*1000000))/1000000;
            document.getElementById('organization_place_attributes_latitude').value = newlat;
            document.getElementById('organization_place_attributes_longitude').value = newlng;
        });

        // When drag ends, center (pan) the map on the marker position
        marker.addListener('dragend', function() {
            map.panTo(marker.getPosition());
        });
    }
  </script>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", initMap2);
  </script>
<% end %>
<%= form_for :organization, url: organizations_path do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :min_price %>
    <%= form.text_field :min_price %>
  </div>

  <div class="field">
    <%= form.label :min_time %>
    <%= form.number_field :min_time %>
  </div>

  <div class="field">
    <%= form.label :price_one_hour %>
    <%= form.text_field :price_one_hour %>
  </div>

  <div class="field">
    <%= form.label :price_two_hours %>
    <%= form.text_field :price_two_hours %>
  </div>

  <div class="field">
    <%= form.label :start_work %>
    <%= form.time_select :start_work%>
  </div>

  <div class="field">
    <%= form.label :end_work %>
    <%= form.time_select :end_work%>
  </div>

  <div class="field">
    <%= form.label :type_of_services %>
    <%= form.select :type_of_services,Organization.type_of_services.each{|type| type.first} %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status,Organization.statuses.each{|type| type.first} %>
  </div>
  <%= form.fields_for :place_attributes do |place_form| %>
    <div class="field">
    <%= place_form.label :name%>
    <%= place_form.text_field :name %>
    </div>
    <div class="field">
    <%= place_form.label :latitude%>
    <%= place_form.text_field :latitude %>
    </div>
    <div class="field">
    <%= place_form.label :longitude%>
    <%= place_form.text_field :longitude %>
    </div>
    <center>
    <p>
      <div id="map2"></div>
    </p>
    </center>
  <% end %>
  <div class="actions">
    <%= form.submit :class=> "btn btn-primary",style: "background-color: #91D6F1;"%>
  </div>
<% end %>
