<p id="notice"><%= notice %></p>

<h1>Human profile</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @human_profiles.each do |human_profile| %>
      <tr>
        <td><%= human_profile.id %></td>
        <td><%= link_to 'Show', human_profile %></td>
        <td><%= link_to 'Edit', edit_human_profile_path(human_profile) %></td>

        <td><%= link_to 'Destroy',human_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New entity profile', new_human_profile_path %>