<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @human_profile.name %>
  <strong>Surname:</strong>
  <%= @human_profile.surname %>
  <strong>Age:</strong>
  <%= @human_profile.age %>
  <strong>Note:</strong>
  <%= @human_profile.note %>
  <strong>Phone number:</strong>
  <%= @human_profile.contact_information.phone_number%>
  <strong>Email address:</strong>
  <%= @human_profile.contact_information.email_address%>
  <strong>Address:</strong>
  <%= @human_profile.contact_information.address%>
  <strong>Messenger link:</strong>
  <%= @human_profile.contact_information.messenger_link%>
</p>

<%= link_to 'Edit', edit_human_profile_path(@human_profile) %> |
<%= link_to 'Back', human_profile_path %>